# copilotkit==0.1.86
# fastapi
# uvicorn
# langchain-openai
# langgraph>=1.0.8,<1.1.0
# langgraph-prebuilt
# python-dotenv
# ag-ui-adk
# google-adk
# jupyter
# honcho
# ipykernel
copilotkit
fastapi
uvicorn
langchain-openai
langgraph
langgraph-prebuilt
python-dotenv
ag-ui-adk
google-adk
jupyter
honcho
ipykernel